body {
    background-color: rgb(245, 233, 255);
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
}

section {
    display: flex;
}

.image {
    flex: 1;
    text-align: center;
    padding: 5em;
}

.description {
    display: flex;
    flex-direction: column;
    flex:1.5;
    text-align: center;
    align-items: center;
    margin: auto;
}

.text_description {
    font-size: 1.5rem;
}

#temperature{
    font-size: 3.5rem;
} 

#description{
    font-size: 3rem;
} 

.button {
    display: flex;
justify-content: center;
}

button, select {
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(209, 255, 255);
    margin: 2em;
    border: solid 3.5px black;
    border-radius: 20em;
    box-shadow: 3px 0px 10px rgb(186, 186, 186);
    width: 13em;
    height: 4em;
    cursor: pointer;
}

button:hover{
    background-color: rgb(164, 233, 233) ;
}

button:active {
    box-shadow: 0px 0px 0px;
  }


.selected {
    border-color: rgb(71, 33, 159);
}